TaskManager/src/main/resources/AdhocTaskManagement.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://www.apache.org/ode/pmapi"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:typ="http://www.apache.org/ode/pmapi/types/2006/08/02/"
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.apache.org/ode/pmapi">
	<wsdl:types>
		<xsd:schema attributeFormDefault="unqualified"
			elementFormDefault="unqualified" targetNamespace="http://www.apache.org/ode/pmapi">
			<xsd:import namespace="http://www.apache.org/ode/pmapi/types/2006/08/02/"
				schemaLocation="pmapi.xsd" />
			<xsd:complexType name="aidsType">
				<xsd:all>
					<xsd:element name="aid" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="listType">
				<xsd:all>
					<xsd:element name="element" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			<xsd:element name="ManagementFault" type="xsd:string" />
			<xsd:element name="linkPATaskWithUBPInfo">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element form="unqualified" name="taskId"
							nillable="true" type="xsd:string" />
						<xsd:element form="unqualified" name="ubpInstanceId"
							nillable="true" type="xsd:string" />
						<xsd:element form="unqualified" name="tmpInstanceId"
							nillable="true" type="xsd:string" />
						<xsd:element form="unqualified" name="activityInfo"
							nillable="true" type="xsd:string" />
						<xsd:element form="unqualified" name="taskRequestVar"
							nillable="true" type="xsd:string" />
						<xsd:element form="unqualified" name="taskResponseVar"
							nillable="true" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="addAdhocTaskVariableToUBP">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element form="unqualified" name="instanceId"
							nillable="true" type="xsd:string" />
						<xsd:element form="unqualified" name="variableName"
							nillable="true" type="xsd:string" />
						<xsd:element form="unqualified" name="variableValue"
							nillable="true" type="xsd:anyType" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getUBPInfoForPATask">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element form="unqualified" name="taskId"
							nillable="true" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="sendAdhocTaskEventToUBP">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element form="unqualified" name="adhocTaskEventDetails"
							nillable="true" type="xsd:string" />
						<xsd:element form="unqualified" name="instanceId"
							nillable="true" type="xsd:string" />
						<xsd:element form="unqualified" name="adhocTaskId"
							nillable="true" type="xsd:string" />
						<xsd:element form="unqualified" name="parentTaskId"
							nillable="true" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="linkPATaskWithUBPInfoResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element form="unqualified" name="taskUBPLinked-info"
							nillable="true" type="typ:tTaskUBPLinkedInfo" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="addAdhocTaskVariableToUBPResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element form="unqualified" name="variable-info"
							nillable="true" type="typ:tVariableInfo" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getUBPInfoForPATaskResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element form="unqualified" name="taskUBPLinked-info"
							nillable="true" type="typ:tTaskUBPLinkedInfo" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="sendAdhocTaskEventToUBPResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element form="unqualified" name="adhocTaskEvent-info"
							nillable="true" type="typ:tAdhocTaskEventInfo" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="sendAdhocTaskEventToUBPInput">
		<wsdl:part name="parameters" element="tns:sendAdhocTaskEventToUBP" />
	</wsdl:message>
	<wsdl:message name="sendAdhocTaskEventToUBPOutput">
		<wsdl:part name="parameters" element="tns:sendAdhocTaskEventToUBPResponse" />
	</wsdl:message>
	<wsdl:message name="managementFault">
		<wsdl:part name="managementFault" element="tns:ManagementFault" />
	</wsdl:message>
	<wsdl:message name="getUBPInfoForPATaskInput">
		<wsdl:part name="parameters" element="tns:getUBPInfoForPATask" />
	</wsdl:message>
	<wsdl:message name="getUBPInfoForPATaskOutput">
		<wsdl:part name="parameters" element="tns:getUBPInfoForPATaskResponse" />
	</wsdl:message>
	<wsdl:message name="addAdhocTaskVariableToUBPInput">
		<wsdl:part name="parameters" element="tns:addAdhocTaskVariableToUBP" />
	</wsdl:message>
	<wsdl:message name="addAdhocTaskVariableToUBPOutput">
		<wsdl:part name="parameters" element="tns:addAdhocTaskVariableToUBPResponse" />
	</wsdl:message>
	<wsdl:message name="linkPATaskWithUBPInfoInput">
		<wsdl:part name="parameters" element="tns:linkPATaskWithUBPInfo" />
	</wsdl:message>
	<wsdl:message name="linkPATaskWithUBPInfoOutput">
		<wsdl:part name="parameters" element="tns:linkPATaskWithUBPInfoResponse" />
	</wsdl:message>
	<wsdl:portType name="AdhocTaskManagementPortType">
		<wsdl:operation name="sendAdhocTaskEventToUBP">
			<wsdl:input message="tns:sendAdhocTaskEventToUBPInput"
				wsaw:Action="http://www.apache.org/ode/pmapi/AdhocTaskManagementPortType/sendAdhocTaskEventToUBPRequest" />
			<wsdl:output message="tns:sendAdhocTaskEventToUBPOutput"
				wsaw:Action="http://www.apache.org/ode/pmapi/AdhocTaskManagementPortType/sendAdhocTaskEventToUBPResponse" />
			<wsdl:fault message="tns:managementFault" name="managementFault"
				wsaw:Action="urn:sendAdhocTaskEventToUBPmanagementFault" />
		</wsdl:operation>
		<wsdl:operation name="getUBPInfoForPATask">
			<wsdl:input message="tns:getUBPInfoForPATaskInput"
				wsaw:Action="http://www.apache.org/ode/pmapi/AdhocTaskManagementPortType/getUBPInfoForPATaskRequest" />
			<wsdl:output message="tns:getUBPInfoForPATaskOutput"
				wsaw:Action="http://www.apache.org/ode/pmapi/AdhocTaskManagementPortType/getUBPInfoForPATaskResponse" />
			<wsdl:fault message="tns:managementFault" name="managementFault"
				wsaw:Action="urn:getUBPInfoForPATaskmanagementFault" />
		</wsdl:operation>
		<wsdl:operation name="addAdhocTaskVariableToUBP">
			<wsdl:input message="tns:addAdhocTaskVariableToUBPInput"
				wsaw:Action="http://www.apache.org/ode/pmapi/AdhocTaskManagementPortType/addAdhocTaskVariableToUBPRequest" />
			<wsdl:output message="tns:addAdhocTaskVariableToUBPOutput"
				wsaw:Action="http://www.apache.org/ode/pmapi/AdhocTaskManagementPortType/addAdhocTaskVariableToUBPResponse" />
			<wsdl:fault message="tns:managementFault" name="managementFault"
				wsaw:Action="urn:addAdhocTaskVariableToUBPmanagementFault" />
		</wsdl:operation>
		<wsdl:operation name="linkPATaskWithUBPInfo">
			<wsdl:input message="tns:linkPATaskWithUBPInfoInput"
				wsaw:Action="http://www.apache.org/ode/pmapi/AdhocTaskManagementPortType/linkPATaskWithUBPInfoRequest" />
			<wsdl:output message="tns:linkPATaskWithUBPInfoOutput"
				wsaw:Action="http://www.apache.org/ode/pmapi/AdhocTaskManagementPortType/linkPATaskWithUBPInfoResponse" />
			<wsdl:fault message="tns:managementFault" name="managementFault"
				wsaw:Action="urn:linkPATaskWithUBPInfomanagementFault" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="AdhocTaskManagementBinding" type="tns:AdhocTaskManagementPortType">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<wsdl:operation name="sendAdhocTaskEventToUBP">
			<soap:operation soapAction="" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="managementFault">
				<soap:fault use="literal" name="managementFault" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getUBPInfoForPATask">
			<soap:operation soapAction="" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="managementFault">
				<soap:fault use="literal" name="managementFault" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="addAdhocTaskVariableToUBP">
			<soap:operation soapAction="" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="managementFault">
				<soap:fault use="literal" name="managementFault" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="linkPATaskWithUBPInfo">
			<soap:operation soapAction="" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="managementFault">
				<soap:fault use="literal" name="managementFault" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="AdhocTaskManagement">
		<wsdl:port name="AdhocTaskManagementPort" binding="tns:AdhocTaskManagementBinding">
			<soap:address
				location="http://localhost:8080/everteam/ode/processes/AdhocTaskManagement" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>