TaskManager/src/main/resources/b4p.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.intalio.com/bpms/workflow/ib4p_20051115"
	xmlns:b4p="http://www.intalio.com/bpms/workflow/ib4p_20051115"
	elementFormDefault="qualified">

	<!-- this element is necessary for Claims -->
	<xsd:element name="usersAndRoles" type="b4p:accessControlType" />
	<xsd:complexType name="accessControlType">
		<xsd:sequence>
			<xsd:element name="user" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
			<xsd:element name="role" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="scheduledActionsDetails">
		<xsd:choice minOccurs="0" maxOccurs="1">
			<xsd:element name="until" type="xsd:dateTime" maxOccurs="1" minOccurs="0" />
			<xsd:element name="for" type="xsd:duration" maxOccurs="1" minOccurs="0" />
		</xsd:choice>
	</xsd:complexType>

	<xsd:element name="completeTaskRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="taskMetaData" type="b4p:taskMetaDataType" />
				<xsd:element name="participantToken" type="xsd:string" />
				<xsd:element name="user" type="xsd:string" />
				<xsd:element name="taskOutput" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="skipTaskRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="taskId" type="xsd:string" />
				<xsd:element name="participantToken" type="xsd:string" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:complexType name="createTaskRequestType">
		<xsd:sequence>
			<xsd:element name="taskMetaData" type="b4p:taskMetaDataType" />
			<xsd:element name="participantToken" type="xsd:string" />
			<xsd:element name="taskInput" />
		</xsd:sequence>
    </xsd:complexType>

	<xsd:element name="createTaskRequest" type="b4p:createTaskRequestType" />

	<xsd:element name="createTaskSingleActivityRequest" type="b4p:createTaskRequestType" />
	
	<xsd:element name="createTaskSingleActivityResponse" type="b4p:notifyTaskCompletionRequestType" />

	<xsd:element name="escalateTaskRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="taskId" type="xsd:string" />
				<xsd:element name="userOwner" type="xsd:string" />
				<xsd:element name="roleOwner" type="xsd:string" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="escalateTaskResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="status" type="xsd:string" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="claimTaskRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="taskId" type="xsd:string" />
				<xsd:element name="claimerUser" type="xsd:string" />
				<xsd:element name="participantToken" type="xsd:string" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="claimTaskResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="status" type="xsd:string" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="revokeTaskRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="taskId" type="xsd:string" />
				<xsd:element name="participantToken" type="xsd:string" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="revokeTaskResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="status" type="xsd:string" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="notifyTaskCompletionRequest" type="b4p:notifyTaskCompletionRequestType" />

	<xsd:complexType name="notifyTaskCompletionRequestType">
		<xsd:sequence>
			<xsd:element name="taskMetaData" type="b4p:taskMetaDataType" />
			<xsd:element name="taskOutput" />
			<xsd:element name="user" type="xsd:string" />
			<xsd:element name="status" type="xsd:string" />
               <xsd:element name="participantToken" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="response">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="taskMetaData" type="b4p:taskMetaDataType" />
				<xsd:element name="status" type="xsd:string" />
				<xsd:element name="errorCode" type="xsd:string" minOccurs="0" />
				<xsd:element name="errorReason" type="xsd:string" minOccurs="0" />
				<xsd:element name="isChainedAfter" type="xsd:boolean" minOccurs="0" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="chainedExecution">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="previousTaskId" type="xsd:string" minOccurs="0" />
				<xsd:element name="nextTaskId" type="xsd:string" minOccurs="0" />
				<xsd:element name="nextTaskURL" type="xsd:string" minOccurs="0" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="taskMetaDataType">
		<xsd:sequence>
            <xsd:element name="activityInfo" type="xsd:string" minOccurs="0"/>
            <xsd:element name="taskRequestVarUBP" type="xsd:string" minOccurs="0"/>
            <xsd:element name="taskResponseVarUBP" type="xsd:string" minOccurs="0"/>
			<xsd:element name="taskId" type="xsd:string" minOccurs="0" />
			<xsd:element name="taskState" type="xsd:token" minOccurs="0" />
			<xsd:element name="taskType" type="xsd:token" minOccurs="0" />
			<xsd:element name="description" type="xsd:string" minOccurs="0" />
			<xsd:element name="processId" type="xsd:string" minOccurs="0" />
			<xsd:element name="instanceId" type="xsd:string" maxOccurs="1" minOccurs="0"/>
			<xsd:element name="creationDate" type="xsd:dateTime" minOccurs="0" />
			<xsd:element name="userOwner" type="xsd:string" maxOccurs="unbounded" minOccurs="0" />
			<xsd:element name="roleOwner" type="xsd:string" maxOccurs="unbounded" minOccurs="0" />
			<xsd:element name="claimAction" type="b4p:accessControlType" maxOccurs="1" minOccurs="0" />
			<xsd:element name="revokeAction" type="b4p:accessControlType" maxOccurs="1" minOccurs="0" />
			<xsd:element name="saveAction" type="b4p:accessControlType" maxOccurs="1" minOccurs="0" />
			<xsd:element name="dismissAction" type="b4p:accessControlType" maxOccurs="1" minOccurs="0" />
			<xsd:element name="completeAction" type="b4p:accessControlType" maxOccurs="1" minOccurs="0" />
			<xsd:element name="deferAction" type="b4p:accessControlType" maxOccurs="1" minOccurs="0" />
			<xsd:element name="formUrl" type="xsd:anyURI" minOccurs="0" />
			<xsd:element name="failureCode" type="xsd:string" minOccurs="0" />
			<xsd:element name="failureReason" type="xsd:string" minOccurs="0" />
			<xsd:element name="priority" type="xsd:int" minOccurs="0" />
			<xsd:element name="scheduledActions" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="expiration" type="b4p:scheduledActionsDetails" minOccurs="0" />
						<xsd:element name="deferActivation" type="b4p:scheduledActionsDetails" minOccurs="0" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="userEndpoint" type="xsd:string" minOccurs="0" />
			<xsd:element name="userProcessEndpoint" type="xsd:string" minOccurs="0" />
			<xsd:element name="userProcessNamespaceURI" type="xsd:string" minOccurs="0" />
			<xsd:element name="userProcessCompleteSOAPAction" type="xsd:string" minOccurs="0" />
			<xsd:element name="isChainedBefore" type="xsd:boolean" minOccurs="0" />
			<xsd:element name="previousTaskId" type="xsd:string" minOccurs="0" />
			<xsd:element name="nextTaskId" type="xsd:string" minOccurs="0" />
			<xsd:element name="session" type="xsd:string" minOccurs="0" />
			<xsd:element name="nextTaskURL" type="xsd:string" minOccurs="0" />
			<xsd:element name="attachments" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="attachment" type="b4p:attachment" minOccurs="0" maxOccurs="unbounded" form="unqualified" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
            <xsd:element name="globalAttachments" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="attachment" type="b4p:attachment" minOccurs="0" maxOccurs="unbounded" form="unqualified" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element minOccurs="0" name="isAdhocTask" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="allowAdhocTask" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="adhocIndex" type="xsd:int"/>
            <xsd:element minOccurs="0" name="associatedTaskID" type="xsd:string"/>
            <xsd:element minOccurs="0" name="adhocformType" type="xsd:string"/>
            <xsd:element minOccurs="0" name="adhocPlacement" type="xsd:string"/>
            <xsd:element minOccurs="0" name="adhocNote" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="attachment">
		<xsd:sequence>
			<xsd:element name="attachmentMetadata" type="b4p:attachmentMetadata" form="unqualified" />
			<xsd:element name="payloadUrl" type="xsd:string" form="unqualified" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="attachmentMetadata">
		<xsd:sequence>
			<xsd:element name="mimeType" type="xsd:string" form="unqualified" />
			<xsd:element name="fileName" type="xsd:string" form="unqualified" />
			<xsd:element name="title" type="xsd:string" form="unqualified" />
			<xsd:element name="description" type="xsd:string" form="unqualified" />
			<xsd:element name="creationDate" type="xsd:dateTime" form="unqualified" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="adhocDataVar">
		<xsd:sequence>
            <xsd:element minOccurs="0" name="isAdhocTask" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="associatedTaskID" type="xsd:string"/>
            <xsd:element minOccurs="0" name="adhocPlacement" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="parallelAdhocTaskCompleted">
		<xsd:complexType>
			<xsd:sequence>
            	<xsd:element name="associatedTaskID" type="xsd:string"/>
            	<xsd:element name="adhocTaskID" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

    <xsd:element name="tasks">
    	<xsd:complexType>
    		<xsd:sequence>
    			<xsd:element name="task" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
    		</xsd:sequence>
    	</xsd:complexType>
    </xsd:element>
</xsd:schema>
